.cart-list {
  display: block;
  text-align: center;
}

.cart-item {
  padding: 15px 0;
  list-style-type:none;
}

@media only screen and (max-width: 420px) {
  #cart-product-title {
    font-size: 12px;
    margin-right: 2rem;
  }
  
}

#quantity {
  width: 2rem;
  text-align: center;
  margin-right: 15px;
  border-color: black;
}


.total  {
  text-align: center;
}

.checkout {
  display: flex;
  justify-content: center; 
}

.max-items {
  text-align: center;
  margin: 10px 0;
}

#deleteBtn {
  cursor: pointer;
  background-color:white;
  font-size: 13px;
  font-weight: bolder;
  border: none;
  text-decoration: underline;
}

#checkout-btn {
  font-weight: bolder;
  margin: 10px 0;
  background-color: black;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
  margin-left: 10px;
}

#checking-warning {
  text-align: center
}