.cart-list {
  display: block;
  text-align: center;
}

.cart-item {
  padding: 15px 0;
  
}

#quantity {
  width: 2rem;
  text-align: center;
  margin-right: 15px;
}


.total  {
  text-align: center;
}

.checkout {
  display: flex;
  justify-content: center; 
}

.max-items {
  text-align: center;
  margin: 10px 0;
}

#checkout-btn {
  font-weight: bolder;
  margin: 10px 0;
}