.intro {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 28rem;
  background-color:gainsboro;
  margin-top: 20px;
}

.intro-summary {
  margin-left: 5rem;
  max-width: 25em;
}