.navbar-header {
  background-color: gray;
}

.navbar-container {
  height: 5rem;
}

.navbar-container ul {
  text-align: center; 
  padding: 15px 0;
}

.navbar-container ul .navbar-item {
  display: inline-block;
  margin: 10px 15px;
  font-weight: bold;
}

#dropdown {
  display:none;
}

.navbar-container ul li a {
  text-decoration: none;
  color: black;
}

#drop-icon {
  font-size:17px;
  margin: 0 5px;
}

.navbar-log-in {
  margin-left: 10px;
  text-decoration: none;
  color: black;
}

.navbar-right {
  box-sizing: border-box;
  float: right;
  margin-right: 25px;
}

.navbar-right a {
  text-decoration: none;
}

.login-btn {
  color: black;
}

.fa {
  box-sizing: border-box;
  margin: 5px 0;
  margin-right: 10px;
  font-size: 24px;
  color: black;  
}

#itemNotification {
  font-size: 12px;
  font-weight: bold;
  background: white;
  color: black;
  padding: 1px 3px;
  vertical-align: top;
  margin-left: -15px;
}

.badge {
  -webkit-border-radius: 9px;
  -moz-border-radius: 9px;
  border-radius: 9px;
}
