.bg-color{ 
  background-color: gainsboro;
}

.navbar-toggler {
  margin: 0 1rem;
}

#brand-logo {
  font-weight: bolder;
  font-size: 16px;
  color: goldenrod;
  margin-top: 1rem;
  margin-left: 5px;
}

#fa-cart-mobile-anchor {
  display: none;
  pointer-events: none;
}

.navbar-light .navbar-nav .nav-link {
  color: black;
  font-size: 16px;  
}

.navbar-light .navbar-nav .nav-link:hover, 
#login-btn:hover, #logged-in:hover {
  color: goldenrod;
}

.navigation-list-item, #basic-nav-dropdown {
  font-weight: bolder;
  margin: 0 2rem;
}

@media only screen and (max-width:1280px) {
  .navigation-list-item, #basic-nav-dropdown {
    margin: 0 1rem;
  }

  #full-brand-name {
  display: none;
  }

  #brand-logo {
    padding-right: 10rem;
  }
}

@media only screen and (max-width:768px) {
  .navbar-light .navbar-nav .nav-link, #basic-nav-dropdown {
    margin: 0 0; 
    padding-left: 2rem;
  }

  .dropdown-list-item,#signout {
    padding-left: 2rem;
  }

  #brand-logo {
    padding-right: 0;
  }

  #fa-cart-non-mobile-anchor {
    display:none;
    pointer-events: none;
  }

  #fa-cart-mobile-anchor {
    display: flex;
    pointer-events: auto;
  }
}

.dropdown-list-item a {
  color: black;
  text-decoration: none;
  margin: 0 -10px;
}

.fa-cart-non-mobile, .fa-cart-mobile {
  box-sizing: border-box;
  margin-right: 10px;
  font-size: 20px;
  color: black;  
}

#itemNotification {
  font-size: 12px;
  font-weight: bold;
  background: white;
  color: black;
  padding: 1px 3px;
  vertical-align: top;
  margin-left: -15px;
}

.badge {
  -webkit-border-radius: 9px;
  -moz-border-radius: 9px;
  border-radius: 9px;
}

#login-btn, #logged-in {
  color: black;
  font-weight: bold;
  text-decoration: none;
  margin-right: 5px;
  white-space: nowrap;
}

.member-navigation-dropdown div.dropdown-menu {
  min-width: 5rem;
}