.thank-you-wrapper {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content:center;
  margin: 15px 0;
}

.thank-you-wrapper div {
  width: 20rem;
}

.payment-received {
  margin: 10px 0;
}