.merchandise-text {
  padding-top: 2rem;
  text-align: center;
}

.products-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 300px 300px auto;
  padding: 5rem 0;
  margin-bottom: 0;
}

@media only screen and (max-width: 524px) {
  .products-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (max-width: 320px) {
  .products-container {
    grid-template-columns: repeat(1, 1fr);
  }
}

.products-container li a{
  text-decoration: none;
}

.clothe-item {
  display: inline-block;
  margin: 0 15px;
  text-align: center;
  text-decoration: none;
}

.product-caption {
  color: black;
  font-size: 16px;
}

h3, h5{
  text-decoration: none;
}
