.product-container {
  padding: 10rem;
  text-align: center;
}

@media only screen and (max-width: 420px) {
  .product-container {
    padding: 0;
    text-align: center;
  }
}

#product-name {
  font-size: 24px;
  font-weight: bold;
}

#product-price{
  font-size: 16px;
  font-weight: bold;
}

.product-options {
  margin-left: 10px;
}

#sizing-drop {
  border: 1px solid black;
}

#add-to-cart {
  background-color: black;
  border: none;
  color: white;
  padding: 5px 15px;
  text-align: center;
  text-decoration: none;
  font-size: 12px;
  cursor: pointer;
  margin-left: 10px;
}
