.merchandise-text {
  padding-top: 2rem;
  text-align: center;
}

.list-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 300px 300px auto;
  padding: 5rem 0;
 
}

.list-container li a{
  text-decoration: none;
}

.clothe-item {
  display: inline-block;
  margin: 0 15px;
  text-align: center;
  text-decoration: none;
}

#product-caption {
  color: black;

}

h3, h5{
  text-decoration: none;
}