.merchandise-text {
  padding-top: 2rem;
  text-align: center;
}

.list-container {
  display: grid;
  /* grid-template-areas: 
  "item item item" 
  "item item item"
  "item item item"; */
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 300px 300px auto;
  padding: 5rem 0;
 
}

.list-container {
  list-style-type: none;
}

.clothe-item {
  display: inline-block;
  margin: 0 15px;
  text-align: center;
}

#product-caption {
  color: black;
}