/* css is deprecated since creation of carousel component from react-bootstrap */

.card {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 25rem;
  border:none;
  background-color: goldenrod;
}

#description {
  width: 20rem;
}

@media only screen and (max-width: 420px) {

  #product, #price {
    font-size: 12px;
  }

  #description {
    font-size: 12px;
    width: 15rem;
    margin-left: 15px;
  }
  
}

.buttons-wrapper {
  display: flex;
  justify-content:center;  
  background-color: goldenrod;
  padding-bottom: 2rem;
}

.slide-btn {
  background-color: black;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 12px;
  cursor: pointer;
  margin-left: 10px;
}