.card {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 25rem;
}

#description {
  width: 25rem;
  margin-left: 10rem;
}

.buttons-wrapper {
  display: flex;
  justify-content:center;  
}

.slide-btn {
  background-color: black;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 12px;
  cursor: pointer;
  margin-left: 10px;
}