.card {
  display: flex;
  justify-content: center;
  margin-top: 10rem;
}

#description {
  width: 25rem;
  margin-left: 10rem;
}

.buttons-wrapper {
  display: flex;
  justify-content:center;  
}

#next {
  margin-left: 10px;
}